<h1>Transactions</h1>

<a class="add-transaction" href="/transactions/new">Add New Transaction</a>

<table>
  <tr>
    <th>Merchant ID</th>
    <th>Tag ID</th>
    <th>Transaction Amount</th>
    <th>Transaction Date</th>
    <th></th>
  </tr>


  <% for transaction in @transactions %>
  <tr>


    <td><a class="transaction" href="/transactions/<%= transaction.id %>"><%= transaction.merchant.merchant_name %></a></td>
    <td><a class="transaction" href="/transactions/<%= transaction.id %>"><%= transaction.tag.category_name %></td>
      <td><a class="transaction" href="/transactions/<%= transaction.id %>"> £<%= "%.2f" %transaction.transaction_amount %></td>
        <td><a class="transaction" href="/transactions/<%= transaction.id %>"> <%= transaction.transaction_date %></td>
          <td>      <form action="/transactions/<%= transaction.id %>/delete" method="post">
                  <input type="submit" value="Delete Transaction" />
                </form></td>
        </tr>
        <% end %>
        <tr>
          <td>
            <p>The total value of all your transactions is £<%= @total %></p>

          </td>
          <td></td>
          <td></td>
          <td></td>

        </tr>


      </table>
